{{>header}}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6 m-auto">
        <h1 class="my-5">Crear Curso</h1>
        {{>form_crear_curso}}
      </div>
    </div>
  </div>

{{>footer}}
