{{>header}}

{{#Rol datos.rol value="coordinador"}}
    <form>
        <label>Formulario del coordinador</label>
    </form>
    {{else}}
    <section id="cursosAbiertos" class="container-fluid text-center">
        <h1>Cursos Inscritos</h1>
        <ul class="row">

         {{#each cursosInscrito}} 
          {{> cursosIndividuales}}
         {{/each}}         
        </ul>
        </section>
{{/Rol}}
{{>footer}}