{{>header}}

<div class="container-fluid">

  <div id="imgBanner">
      <h2> HBS | Imagen destacada/Solo por apariencia</h2>
  </div>

 <div class="cointaner titulosSeccion">
   <div class="row">
     <div class="col-md-12">
        <h2 class="text-center">Cursos que se ofrecen</h2>
     </div>
   </div>
 </div>

<section id="cursosAbiertos" class="container-fluid text-center">
      <ul class="row">
        <li class="col-md-3">
         <div class="shadow p-3 mb-5 bg-white">
            <figcaption>
                <figure>
                    <img src="./img/programas/IconoBase.png">
                </figure>
              </figcaption>
              <div>
                <h3>Titulo del curso</h3>
                <p><span> Valor $</span></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere, dolor sagittis placerat 
                    interdum, sem tortor mollis dui, et posuere tellus augue ac nibh. Etiam in suscipit nibh.
                  </p>
              </div>
         </div>
        </li>  
        
        <li class="col-md-3">
            <div class="shadow p-3 mb-5 bg-white">
               <figcaption>
                   <figure>
                       <img src="./img/programas/IconoBase.png">
                   </figure>
                 </figcaption>
                 <div>
                   <h3>Titulo del curso</h3>
                   <p><span> Valor $</span></p>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="{{this.id}}">
                      Mas información
                    </button>
                    

                 </div>

                 
            </div>
            
           </li>  
           <li class="col-md-3">
              <div class="shadow p-3 mb-5 bg-white">
                 <figcaption>
                     <figure>
                         <img src="./img/programas/IconoBase.png">
                     </figure>
                   </figcaption>
                   <div>
                     <h3>Titulo del curso</h3>
                     <p><span> Valor $</span></p>
                     <p>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere, dolor sagittis placerat 
                         interdum, sem tortor mollis dui, et posuere tellus augue ac nibh. Etiam in suscipit nibh.
                       </p>
                   </div>
              </div>
             </li>  
             <li class="col-md-3">
                <div class="shadow p-3 mb-5 bg-white">
                   <figcaption>
                       <figure>
                           <img src="./img/programas/IconoBase.png">
                       </figure>
                     </figcaption>
                     <div>
                       <h3>Titulo del curso</h3>
                       <p><span> Valor $</span></p>
                       <p>
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut posuere, dolor sagittis placerat 
                           interdum, sem tortor mollis dui, et posuere tellus augue ac nibh. Etiam in suscipit nibh.
                         </p>
                     </div>
                </div>
               </li>  
      </ul>
</section>

</div>   

{{>footer}}