*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/************* Menu *******************/

#btn_registrarse{
    background-color:#2f2f2f;
    border-radius: 25px;
    color: #ffffff
}

#btn_registrarse a{
    color: #ffffff
}

#btn_ingresar a{
    color: #2f2f2f;   
}

/**************** aspirante | coordinador *******************/

.enlacesNav{
    color: #066732 !important;
}

.enlacesNav:hover{
    color: #066732 !important;
    border: none !important;
    text-decoration: none !important;
}

.enlacesNav:active{
    background-color: #ffffff !important;
}

.datosUsuario{
    font-weight: 800;
    color: #8cb22f !important;
}

/************ inicio *******************/

#imgBanner{
    width: 100%;
    height: 200px;
    background-color: blue;
}

.titulosSeccion h2{
    padding: 1em;
}

/************* programas ****************/

#cursosAbiertos{
    margin: 4em 0;
}

#cursosAbiertos li{
    list-style: none;
}

#cursosAbiertos h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 2em;
}

#cursosAbiertos figcaption{
    padding: 0.5em;
}

#cursosAbiertos .informacionCurso{
    box-shadow: 0 5px 5px #b2b2b2;
    padding: 2em 0 5em 0;
    position: relative;
}

#btn_inscripcion,
.btn-primary{
    width: 100%;
    height: 50px;
    border: none;
    background: #99cc33;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
}

.modal-header .close{
    background: #7f7f7f;
    opacity: 1;
    width: 61px;
    height: 50px;
    line-height: 0;
    color: #ffffff;
}

.datosdelCurso > p span,
.modal-body > p span{
    border-radius: 25px;
    background-color: #2f2f2f;
    padding: 0.5em 2em;
    display: block;
    width: 60%;
    margin: auto;
    color: #ffffff;
}

.modal-footer{
    position: relative;
}

.descripcionCurso{
    padding: 1em;
} 

/************* formularios ************/

.formularios{
    background-color: red;
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 2em 0;
    margin-top: 2em;
}

.formularios input{
    text-align: center;
}

.formulariosIntroduccion{
    margin-top: 3em;
}

.formulariosIntroduccion p{
    width: 70%;
    display: block;
    margin: auto;
}


#menuDespegable{
    background-color: green;
}