<ul class="nav navbar-nav ml-auto">
    <li>Crear cursos</li>
    <li>Ver todos los cursos</li>
    <li>
        <a href="/dashboard">Perfil</a>
        <p>Nombre {{datos.nombre}}</p>
    </li>

    <li>
        <a href="/salir">Cerrar sesión</a>
    </li>
</ul>


